body {
    margin: 0;
    min-height: 100vh;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#gameboard {
    background-color: antiquewhite;
    border: solid black 2px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

#\30 0, #\30 1, #\30 2, #\31 0, #\31 1, #\31 2 {
    border-bottom: solid black 2px;
}

#\30 0, #\30 1, #\31 0, #\31 1, #\32 0, #\32 1 {
    border-right: solid black 2px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}