body {
    margin: 0;
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}

#setup {
    display: grid;
    grid-template-rows: 35px 105px 35px;
    gap: 15px;
}

#game-modes {
    display: flex;
    justify-content: space-around;
    
}

#game-modes > button {
    padding: 2px;
    font-size: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 135px;
    background-color: #7dd3fc;
    border: none;
    border-radius: 3px;
}

#game-modes > button:hover {
    background-color: #5dc7f8;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#players {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    margin-left: 4px;
}

.input {
    display: flex;
    align-items: flex-end;
}

#gameboard {
    font-size: 72px;
    background-color: antiquewhite;
    border: solid black 2px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.box:hover {
    background-color: rgb(252, 224, 189);
}

#\30 0, #\30 1, #\30 2, #\31 0, #\31 1, #\31 2 {
    border-bottom: solid black 2px;
}

#\30 0, #\30 1, #\31 0, #\31 1, #\32 0, #\32 1 {
    border-right: solid black 2px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}